@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #080808;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #FF5733; /* Custom color */
    border-radius: 10px;
    border: 3px solid #FF5733;
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #FF5733 #080808;
  }
  